body{
    margin: 0;
    padding: 0;
    background-color: #8B8B8B;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    width: 90%;
    margin: auto;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo img {
    height: 70px;
}

.navbar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}
.navbar-links ul{
    list-style: none;
    
    
}
.navbar-links li {
    margin: 0 15px;
    display: inline-block;
}

.navbar-links li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.navbar-links li a:hover {
    color: #A259FF;
    border-radius: 5px;
}
.navbar-links li .Projects a.active {
    background-color: #04AA6D;
    color: white;
}
.AboveMe{
    width: 80%;
    margin: auto auto;
}
.AboutMeSquare{
    border: solid 5px #A259FF;
    width: 250px;
    margin: auto;
}
.AboutMeSquare p{
    text-align: center;
    color: #A259FF;
    font-size: x-large;
    font-weight: bolder;
}
.momento{
    width:80%;
    margin:auto auto;
    

}
.momento p{
    color:white;
    font-size: larger;
    text-align: center;
}
.offer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 80%;
    margin: auto auto;
}
.offer div{
    width: 40%;
    margin: auto auto;
}
