body{
    margin: 0;
    padding: 0;
    background-color: #28282D;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    width: 90%;
    margin: auto;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav-logo img {
    height: 70px;
}

.navbar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}
.navbar-links ul{
    list-style: none;
    
    
}
.navbar-links li {
    margin: 0 15px;
    display: inline-block;
}

.navbar-links li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.navbar-links li a:hover {
    color: #A259FF;
    border-radius: 5px;
}
.navbar-links li .Projects a.active {
    background-color: #04AA6D;
    color: white;
}
.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    margin-top: 50px;
}
.mail{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    
}
.contact{
    border: solid 5ps black;
    padding: 15px;
}
.contact p{
    font-weight: bolder;
    font-size: larger;
    color: black;
    text-align: center;
}


h2 {
    text-align: center;
    color: white;
}

form {
    background-color: #fff;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #333;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #218838;
}
.info{
    
    height: 95vh;
    width: 70%;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-rows: repeat(3,1fr);
}

.info legend{
    color: yellow;
}
.info p{
    color:white;
    margin-left: 20px;
    font-size: larger;
    
}
footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height:25vh;
    background-color: #1A1A1A;
    color: #fff;
}

.footer-left, .footer-center, .footer-right {
    flex: 1;
    text-align: center;
}
.footer-left, .footer-right{
    padding-top: 15vh;
}
.footer-left #time{
    margin-top: 12px;
}
.footer-center {
    text-align: center;
}
.toTop{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    margin-bottom: 15px;
}
.toTop img{
    width: 25px;
    height: 25px;
}

.footerMid{
    display: inline;

}
.footerMid img{
    width: 35px;
    height: 35px;
    margin: 3px 3px;
}
.footerMid img:hover{
    width: 50px;
    height: 50px;
}

.footer-right {
    text-align: right;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}


