body{
    margin: 0;
    padding: 0;
    background-color: #28282D;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    width: 90%;
    margin: auto;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo img {
    height: 70px;
}

.navbar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}
.navbar-links ul{
    list-style: none;
    
    
}
.navbar-links li {
    margin: 0 15px;
    display: inline-block;
}

.navbar-links li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.navbar-links li a:hover {
    color: #A259FF;
    border-radius: 5px;
}
/* Container for the two divs */
.resumeContent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    background-color: #333;
    color: white;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 30px;
}

/* Styling for the left content */
.leftContent, .rightContent {
    margin: auto auto;
    width: 97%;
    border-right: solid 4px white;
    
}
.leftContent{
    text-align: right;
}

.skills {
    margin-top: 20px;
    margin-right: 15px;
}

.skill h4 {
    cursor: pointer;
    padding: 10px;
    margin: 0;
    font-weight: normal;
    color: yellow;
}

.skill h4:hover {
    color: white;
    text-decoration: underline;
}

.skill div {
    display: none; /* Hide the content by default */
    padding: 10px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #f9f9f9;
}
.Achivments{
    padding: 10px;
}
.Achivments h3, div{
    margin-right: 10px;
}
.achive  #year{
    font-weight: bold;
    color: #A259FF;
}
h2{
    text-decoration: underline;
}
.rightContent{
    height: 100%;
    width: 100%;
}
.rightContent div{
    padding-left: 5%;
}
.rightContent #year{
    font-weight: bold;
    color: #A259FF;
}
.rightContent #place{
    color: white;
    margin-left: 5px;
}
.rightContent #role, #attained{
    color:yellow;
    margin-left: 5px;
}

.Education div{
    padding-left: 2%;
}
.leaderShow{
    display: none;
}
.downloadables{
    width: 30%;
    height: 25vh;
    margin: auto;
    padding: auto;
    display: flex;
}

.downloadables button {
    width: 45%;
    height: 50px;
    border: none;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-left: 10px;
    cursor: pointer;
    transition-duration: .3s;
  }

  .downloadables .Download{
    background-color: #A259FF;
  }

  .downloadables .Certifications{
    background-color: yellow;
  }

footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height:25vh;
    background-color: #333;
    color: #fff;
}

.footer-left, .footer-center, .footer-right {
    flex: 1;
    text-align: center;
}

.footer-center {
    text-align: center;
}

.footer-right {
    text-align: right;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

